* {
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-size: large;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #ffc800;
}

.card-header:hover {
  background-color: #373637;
}

.blueLink {
  color: #0000EE;
}

.banner {
  background-color: #000;
}

.em-text {
  font-family: 'Open Sans', sans-serif;
}



/* STYLING FOR SERVICES & RATES LANDING PAGE */

.service-img {
  filter:contrast(40%);
}

.service-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
}

/* ///////////////////////////////////////// */
