* {
  font-family: 'Cardo', serif;
}

p {
  font-size: large;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #ffc800;
}

.card-header:hover {
  background-color: #373637;
}

.blueLink {
  color: #0000EE;
}

.banner {
  background-color: #000;
}
